.parentSecondaryFooter{
width: 1,360px;
height:460px;
padding: 80px;
border-radius: 24px;
gap: 56px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.contentContainer{
width:690px;
height:fit-content;
gap: 40px;

}
.textContainer{
    display: flex;
    flex-direction: column;
    
}
.boldText{
width:690px;
height:fit-content;
font-family: Helvetica;
font-size: 48px;
font-weight: 400;
line-height: 56px;
letter-spacing: -0.02em;
text-align: center;

}

.normalText{
font-family: Helvetica Neue;
font-size: 20px;
font-weight: 400;
line-height: 28px;
letter-spacing: -0.01em;
color: #6F6F6F;
text-align: center;
margin-top: 20px;

}
.searchAndButton{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.bt{
    text-align: center;
    
}
.foot{
    margin-left: 4px;
}
.footSec{
    margin-top: 0px;
}
@keyframes byebye{
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0deg);
    }
    
}
 .imgbye{
    background-image: url("/Users/shahnawaz/Desktop/Launcheazy_Assigment/LaunchEazy/src/assets/images/bye.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position:-10px 15px;
    width: 70px;
    height: 70px;
    display: inline-block;
    transform-origin: bottom center;
    animation:byebye 2s linear infinite;

 }
