.parentConatiner{
margin-top: 72vh;
width: 75.52vw;
height:80vh;
padding: 80px;
border-radius: 24px;
gap: 56px;
background: #FFF1F1;
margin-left: 7.5vw;
}

.staticText{
width: Hug (690px);
height: Hug (228px);
gap: 24px;
display: flex;
flex-direction: column;
margin-left: 100px;
}
.text11{
font-family: Helvetica;
font-size: 14px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.02em;
text-align: left;
color: #6F6F6F;

}
.text22{
    width: 690px;
    height: 56px;
    font-family: Helvetica;
    font-size: 48px;
    font-weight: 1400;
    line-height: 56px;
    letter-spacing: -0.02em;
    text-align: left;
}
.text33{
    font-family: Helvetica Neue;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #525252;

    

}
.btCards{
    padding: 10px, 16px, 10px, 16px;
    border-radius: 24px; 
    width:172px;
    background: #FFFFFF;
    height:40px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;  
    border: 0.5px solid black;
    position: absolute;
 
}

.cards{
width: 69vw;
height: 454px;
gap: 24px;
background-image: url('/Users/shahnawaz/Desktop/Launcheazy_Assigment/LaunchEazy/src/assets/images/Frame 701.png');
background-size: 100% 100%;
background-repeat: none;
margin-top: 50px;
margin-left: 100px;

}
.vector{
   align-items: center;
   position: relative;
   margin-left: 140px;
   margin-top: 13px;

}
.btCards:hover{
    background-color:#fbfafa;
    border:1px solid black
}
